In [4]:
# QUIZ 1

x = 0
while (x < 100):
    x += 2
    
print(x)

100

In [9]:
# QUIZ 3

a = [1,2,3,4,5,6,7,8,9,10]

a[3:8:-1]

[]

In [10]:
# QUIZ 4

def access(lst, num):
    lst.append(num)
    num -= 4 # local version of num
    return num

lst = [1,2,3] # [1,2,3,4] since lists are mutable
num = 4 # global version of num

access(lst, num)
print(lst, num)

[1, 2, 3, 4] 4

# LISTS

Heterogeneous collection of objects

In [11]:
a = ["bipin", 26, 45.8, True, "PYTHON", [1,2,3,4]]

In [12]:
a[-1]

[1, 2, 3, 4]

In [13]:
a[len(a) - 1]

[1, 2, 3, 4]

In [14]:
a[1]

26

In [18]:
a = ["bipin", 26, 45.8, True, "PYTHON", [1,2,3,4], print]

In [19]:
type(a[-1])

builtin_function_or_method

In [21]:
a[-1]("THIS IS A WEIRD WAY TO CALL THE PRINT FUNCTION!")

# print("THIS IS A WEIRD WAY TO CALL THE PRINT FUNCTION!")

THIS IS A WEIRD WAY TO CALL THE PRINT FUNCTION!

In [22]:
a = list(range(1, 11))

In [23]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
a[2:-4]

[3, 4, 5, 6]

In [28]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
a[:5]

[1, 2, 3, 4, 5]

In [30]:
a[5:]

[6, 7, 8, 9, 10]

In [31]:
a[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [32]:
sum(a)

55

In [33]:
max(a)

10

In [34]:
min(a)

1

In [36]:
len(a)

10

In [37]:
a = ["bipin", 5, True, "random", [1,2,3]]

In [38]:
max(a)

TypeError: '>' not supported between instances of 'int' and 'str'

In [39]:
sum(a)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
a = ["bipin", "kalra", "is", "teaching", "python"]

In [45]:
max(a)

'teaching'

In [46]:
"bipin" < "kalra"

True

In [48]:
a

['bipin', 'kalra', 'is', 'teaching', 'python']

In [49]:
[1,2,3,4,5] + ["python", "cool"] # Concatenation

[1, 2, 3, 4, 5, 'python', 'cool']

In [51]:
[1,2,3] * 3 # Repeats the same elements n times

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [52]:
[1,2,3,4,5] - [1,2,3]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [53]:
a

['bipin', 'kalra', 'is', 'teaching', 'python']

In [55]:
for i in a: # lists are iterable
    print(i)

bipin
kalra
is
teaching
python

In [56]:
a[0] = "MUTABLE"

In [57]:
a

['MUTABLE', 'kalra', 'is', 'teaching', 'python']

In [58]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
a[2:-4]

[3, 4, 5, 6]

# TUPLES

Immutable Lists!

In [60]:
a = (1, 2, 3, 4, 5)

In [61]:
a[0] = 10

TypeError: 'tuple' object does not support item assignment

In [62]:
a.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [63]:
a.remove(5)

AttributeError: 'tuple' object has no attribute 'remove'

In [64]:
'''
HOMEWORK ->

Do a little bit of research on why Tuples are faster than Lists.
'''

'\nHOMEWORK ->\n\nDo a little bit of research on why Tuples are faster than Lists.\n'

In [73]:
a = (10)

In [74]:
a

10

In [75]:
type(a)

int

In [76]:
a = (10,)

In [77]:
type(a)

tuple

In [78]:
a

(10,)

In [79]:
# PACKING AND UNPACKING

In [80]:
a = (1, 2, 3)

In [81]:
x, y, z = a

In [82]:
x

1

In [83]:
y

2

In [84]:
z

3

In [85]:
x, y = a

ValueError: too many values to unpack (expected 2)

In [86]:
x, y, z, w = a

ValueError: not enough values to unpack (expected 4, got 3)

In [87]:
# WE WILL LEARN HOW TO UNPACK WITHOUT HAVING THE EXACT NUMBER OF VARIABLES

In [88]:
def foo():
    return 100, 200, 300

In [89]:
a = foo()

In [90]:
a

(100, 200, 300)

In [91]:
a, b, c = foo()

In [92]:
a

100

In [93]:
b

200

In [94]:
c

300

In [95]:
a, b, c

(100, 200, 300)

In [96]:
a = 100, 200, 300

In [97]:
a

(100, 200, 300)

In [98]:
# SWAP VALUES IN PYTHON

a = 100
b = "random"

a, b = b, a

In [99]:
a

'random'

In [100]:
b

100

In [101]:
# MEMBERSHIP OPERATOR

In [103]:
a = (1,2,3,4,5,6,7,8)

In [105]:
16 in a

False

# DICTIONARIES

Mutable data structure that contains key - value pairs.

Keys -> Immutable Data Structures.

Values -> Any Data Structure.

In [106]:
d = {
    "age" : 50,
    "name" : "Random",
    "subject" : ["Python", "JS", "Data Science"]
}

In [107]:
d["name"]

'Random'

In [108]:
d["subject"]

['Python', 'JS', 'Data Science']

In [109]:
d["name"] = "Bipin Kalra"

In [110]:
d

{'age': 50, 'name': 'Bipin Kalra', 'subject': ['Python', 'JS', 'Data Science']}

In [111]:
d["new_key"] = "New Value"

In [112]:
d

{'age': 50,
 'name': 'Bipin Kalra',
 'subject': ['Python', 'JS', 'Data Science'],
 'new_key': 'New Value'}

In [113]:
d.pop("new_key")

'New Value'

In [114]:
d

{'age': 50, 'name': 'Bipin Kalra', 'subject': ['Python', 'JS', 'Data Science']}

In [116]:
d.update({
    "awesomeness" : "INFINITE",
    "age" : 5000
})

In [117]:
d

{'age': 5000,
 'name': 'Bipin Kalra',
 'subject': ['Python', 'JS', 'Data Science'],
 'awesomeness': 'INFINITE'}

In [118]:
# DICTIONARIES ARE ALSO ITERABLE!

In [120]:
for i in d: # iterates over the keys by default
    print(i)

age
name
subject
awesomeness

In [122]:
for i in d.values(): # to iterate over the values
    print(i)

5000
Bipin Kalra
['Python', 'JS', 'Data Science']
INFINITE

In [125]:
for key, value in d.items():
    print(key," -> ", value)

age  ->  5000
name  ->  Bipin Kalra
subject  ->  ['Python', 'JS', 'Data Science']
awesomeness  ->  INFINITE

In [126]:
random = {
    "string" : [1,2,3,4],
    45 : "integers",
    67.8 : "floats",
    True : {
        "nested" : "dictionary"
    },
    (1,2,3) : "tuples are also immutable"
}

# ANYTHING CAN BE A VALUE
# ONLY IMMUTABLE DATA TYPES AND STRUCTURES CAN BE KEYS

In [127]:
random

{'string': [1, 2, 3, 4],
 45: 'integers',
 67.8: 'floats',
 True: {'nested': 'dictionary'},
 (1, 2, 3): 'tuples are also immutable'}

In [129]:
random[True]

{'nested': 'dictionary'}

In [131]:
random[False]

KeyError: False

In [130]:
random.get(True)

{'nested': 'dictionary'}

In [133]:
random.get(False, "NOT FOUND!")

'NOT FOUND!'

# SETS

Unique collection of values.

In [134]:
s = {1,2,3,3,4,4,5,5,5,5,5,6,6,6,6,8,8,8,9,7}

In [135]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [136]:
d = {
    "key" : "value1",
    "key" : "value2"
}

In [137]:
d

{'key': 'value2'}

In [138]:
10 in s

False

In [139]:
5 in s

True

In [140]:
s1 = {}

In [141]:
type(s1)

dict

In [142]:
s1 = set()

In [143]:
s1

set()

In [144]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [145]:
s.add(10)

In [146]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [147]:
s.remove(8)

In [148]:
s

{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [150]:
s[0] # Sets are not ordered -> NO INDEXES!

TypeError: 'set' object is not subscriptable

In [151]:
s.update([20,30,40,50,60,70])

In [152]:
s

{1, 2, 3, 4, 5, 6, 7, 9, 10, 20, 30, 40, 50, 60, 70}

In [153]:
A = {1,2,3}
B = {3,4,5,6}

In [154]:
A.intersection(B)

{3}

In [155]:
A & B

{3}

In [156]:
A.union(B)

{1, 2, 3, 4, 5, 6}

In [157]:
A | B

{1, 2, 3, 4, 5, 6}

In [158]:
A.difference(B)

{1, 2}

In [159]:
A - B

{1, 2}

In [160]:
A.symmetric_difference(B)

{1, 2, 4, 5, 6}

In [161]:
A ^ B

{1, 2, 4, 5, 6}

In [162]:
'''
HOMEWORK ->
string1 = "this is a random string which contains some repearing character and some non-repeating characters. Pick them!"

Return the count of characters which only occur once in the string.
'''

'\nHOMEWORK ->\nstring1 = "this is a random string which contains some repearing character and some non-repeating characters. Pick them!"\n\nReturn the count of characters which only occur once in the string.\n'

In [165]:
board = [[""] * 3] * 3

In [166]:
board

[['', '', ''], ['', '', ''], ['', '', '']]

In [167]:
board[1][2] = "0"

In [168]:
board

[['', '', '0'], ['', '', '0'], ['', '', '0']]

In [169]:
'''
HOMEWORK ->
Try and explain this!
'''

'\nHOMEWORK ->\nTry and explain this!\n'

In [170]:
a = [1, 2, 3, 4, 5]

In [173]:
squares = [] # Creating a new empty list

for i in a: # For loop statement
    squares.append(i ** 2) # Value to be appended

In [174]:
squares

[1, 4, 9, 16, 25]

In [175]:
squares = [ i**2 for i in a ]

In [176]:
squares

[1, 4, 9, 16, 25]

In [177]:
# NESTED LIST COMPREHENSION

In [179]:
# METHOD 1
table = [ [ i * j for j in range(1, 11) ] for i in range(1, 11) ]

In [180]:
table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [183]:
result = []

for j in ["a", "b", "c"]:
    for i in ["1", "2", "3"]:
        result.append(i + j)
        
print(result)

['1a', '2a', '3a', '1b', '2b', '3b', '1c', '2c', '3c']

In [187]:
# METHOD 2
random = [i + j for i in ["1", "2", "3"] for j in ["a", "b", "c"]]

# Leftmost -> Outermost
# Rightmost -> Innermost

In [185]:
random

['1a', '1b', '1c', '2a', '2b', '2c', '3a', '3b', '3c']

In [186]:
result = []

for i in ["1", "2", "3"]:
    for j in ["a", "b", "c"]:
        result.append(i + j)
        
print(result)

['1a', '1b', '1c', '2a', '2b', '2c', '3a', '3b', '3c']

In [188]:
s = {i**2 for i in range(1, 11)}

In [189]:
s

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [192]:
d = { f"Number {i}":i**2 for i in range(1, 11) }

In [193]:
d

{'Number 1': 1,
 'Number 2': 4,
 'Number 3': 9,
 'Number 4': 16,
 'Number 5': 25,
 'Number 6': 36,
 'Number 7': 49,
 'Number 8': 64,
 'Number 9': 81,
 'Number 10': 100}

In [194]:
t = (i for i in range(1, 11))

In [196]:
t # OUT OF SCOPE FOR NOW

In [197]:
# Formattable Strings

In [203]:
a = 10
b = 20
c = 30

In [199]:
"a (10) and  b (20) when added return c (30)!"

'a (10) and  b (20) when added return c (30)!'

In [201]:
a = "a (" + str(a) + ") and b ("

In [202]:
a

'a (10) and b ('

In [204]:
s = f"a ({a}), b ({b}) when added return c ({c})!"

In [205]:
s

'a (10), b (20) when added return c (30)!'

# Glossary of string methods

1. __split__ -> `"this is a string".split(" ")` -> string to a list

2. __join__ -> `" ".join(["list", "of", "strings"])` -> list of strings to a string

3. __replace__ -> `"this is a string".replace(" ", "_")` -> replaces all occurences of the first character by the second character. __IMP__ - _CREATES A NEW STRING_

4. __find__ -> `"this is a string".find(" a ")` -> Finds the exact sequence or substring in the original string and returns the starting index of that substring.

5. __count__ -> `"this is a string".count("a")` -> Counts the number of times a character or substring is present within a string

6. __isdigit__ -> True if content inside the string is only digits.
7. __isalpha__ -> True if content inside the string is only alphabets.
8. __islower__ / __isupper__ -> True if content inside the string is all lower case / all upper case
9. __isspace__ -> True if the character is a space
10. __lower__ / __upper__ -> Converts a string to lowercase / uppercase

__Special Mention__
- `"random" in "this is random!"` -> MEMBERSHIP OPERATOR - True if operand1 is present inside operand2.