In [2]:
'''
Principles of Functional Programming ->

- Data should be separated from mutations
- Treat variables as immutable
- Treat functions as FCCs or objects
'''

'\nPrinciples of Functional Programming ->\n\n- Data should be separated from mutations\n- Treat variables as immutable\n- Treat functions as FCCs or objects\n'

In [4]:
x = 5 # initial data

# Hidden Mutations
x = 3 * x
x += 1
# Hidden Mutations

print(x)

# Can't rollback to the original data

16

In [6]:
x = 5

x1 = 3 * x
x2 = x1 + 1

print(x2)

# Too many repetitive copies of the data

16

In [11]:
x = 5

def mutation_1(x):
    x = 3 * x
    x += 1
    
    return x

def mutation_1_reverse(x):
    x -= 1
    x = x / 3
    
    return x

x1 = mutation_1(x)

print(x1)

16

In [12]:
mutation_1_reverse(x1)

5.0

# MAPS

In [13]:
a = [1,2,3,4,5,6,7,8,9,10]

In [16]:
m = list(map(lambda x : x ** 2, a))

In [17]:
m

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
%timeit [ i ** 2 for i in range(1, 100001) ]

27.2 ms ± 416 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [21]:
%timeit map(lambda x : x ** 2, list(range(1, 100001)))

1.68 ms ± 4.03 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [23]:
random = list(map(lambda x, y: x + y, [1,2,3], [4,5,6]))

In [24]:
random

[5, 7, 9]

In [29]:
a = [1,2,3,4]
b = [1,2,3,4,5,6]
c = [1,2]

list(map(lambda x, y, z: x + y + z, a, b, c))

# Map stops at the length of the smallest iterable available

[3, 6]

In [32]:
a = [1,2,3,4]
b = [1,2,3,4,5,6]
c = {"a": 1, "b": 2}

list(map(lambda x, y, z: x + y + z, a, b, c))

# Map stops at the length of the smallest iterable available

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# FILTERS

In [33]:
a = list(range(1, 21))

In [34]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [35]:
f = list(filter(lambda x : x % 2 == 0, a))

In [36]:
f

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# ZIP

In [37]:
a = [1, 2, 3]
b = ["a", "b", "c", "d"]
c = [True, False, False, False, True, True]

In [39]:
list(zip(a, c, b))

[(1, True, 'a'), (2, False, 'b'), (3, False, 'c')]

In [42]:
a = {"a": 1, "b": 2}
b = {"c": 3, "d": 4}

list(zip(a.values(), b.values()))

[(1, 3), (2, 4)]

# REDUCE

In [43]:
from functools import reduce

In [44]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
reduce(lambda x, y: x + y, a)

55

In [47]:
reduce(lambda x, y: x if x > y else y, a)

10

In [48]:
n = int(input())

reduce(lambda x, y: x * y, list(range(1, n + 1)))

5

120

In [49]:
a = ["this", "is", "a", "list", "of", "strings!"]

reduce(lambda x, y: f"{x} {y}", a)

'this is a list of strings!'

# ARGS & KWARGS

In [50]:
def custom_sum(a, b):
    return a + b

In [52]:
custom_sum(4, 5)

9

In [53]:
def custom_sum(a, b, *args):
    print(a)
    print(b)
    print(args)

In [56]:
custom_sum(4, 5, 1, 2, 3, 8, 10)

4
5
(1, 2, 3, 8, 10)

In [59]:
def custom_sum(a, b, *args):
    result = a + b
    
    if args:
        result += reduce(lambda x, y: x + y, args)
        
    return result

In [62]:
custom_sum(1, 2, 3, 4, 5, 6, 7)

28

In [63]:
a, b, c, *d = (1, 2, 3, 4, 5, 6)

In [64]:
d

[4, 5, 6]

In [66]:
def custom_sum(a, b, *meri_marzi_ka_variable):
    result = a + b
    
    if meri_marzi_ka_variable:
        result += reduce(lambda x, y: x + y, meri_marzi_ka_variable)
        
    return result

In [67]:
def create_person(name, age, gender):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }
    
    return Person

In [68]:
p1 = create_person("Bipin Kalra", 5000, "Male")

In [69]:
p1

{'name': 'Bipin Kalra', 'age': 5000, 'gender': 'Male'}

In [72]:
def create_person(name, age, gender, **kwargs):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }
    
    print("kwargs -> ", kwargs)
    
    return Person

In [73]:
create_person(
    name = "Bipin Kalra",
    age = 5000,
    gender = "Male",
    color = "Blue",
    hobby = ["Basketball", "Painting"]
)

kwargs ->  {'color': 'Blue', 'hobby': ['Basketball', 'Painting']}

{'name': 'Bipin Kalra', 'age': 5000, 'gender': 'Male'}

In [74]:
def create_person(name, age, gender, **kwargs):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }
    
    if kwargs:
        Person.update(kwargs)
    
    return Person

In [75]:
create_person(
    name = "Bipin Kalra",
    age = 5000,
    gender = "Male",
    color = "Blue",
    hobby = ["Basketball", "Painting"]
)

{'name': 'Bipin Kalra',
 'age': 5000,
 'gender': 'Male',
 'color': 'Blue',
 'hobby': ['Basketball', 'Painting']}

In [77]:
'''
Positional -> args -> Keyworded -> kwargs
'''

'\nPositional -> args -> Keyworded -> kwargs\n'

In [78]:
def random(x, y, *args, **kwargs):
    print(x, y)
    print(args)
    print(kwargs)

In [79]:
random(1, 2, 3, 4, 5, a = 1, b = 2)

1 2
(3, 4, 5)
{'a': 1, 'b': 2}

In [80]:
random(1, 2, a = 1, b = 2, 3, 4, 5)

SyntaxError: positional argument follows keyword argument (3556731755.py, line 1)

In [81]:
def sample_func(x, y, *args, **kwargs):
    return x, y, args, kwargs


sample_func(1, 2, 3, 4, a=5, b=6)

(1, 2, (3, 4), {'a': 5, 'b': 6})

In [82]:
a=[1,[2,3],4,5]
result = lambda x: list(map(lambda y:2*y, x)) if isinstance(x,list) else lambda x:3*x
print(result(a))

[2, [2, 3, 2, 3], 8, 10]

In [83]:
random_function = lambda x: list(map(lambda y : 2 * y, x))

In [84]:
random_function(a)

[2, [2, 3, 2, 3], 8, 10]

In [85]:
[2, 3] * 2

[2, 3, 2, 3]